/* follow the every element is universal selector */

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {

    height: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f4f8;
}